<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#ef4142">
    <link rel="shortcut icon" type="image/png" href="static/images/favicon.ico"/>
    <!-- Spectre CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/spectre.min.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/responsive.min.css" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Hind:300,400,700" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
    <title>Top Stories</title>
</head>
<body>
    <div class="content" ng-app="newsApp" ng-controller="newsCtrl">
        <header class="container columns header">
            <section class="column col-6 col-sm-12 brand">
                <img ng-src="{{'static/images/country-icons/' + activeCountry + '.png'}}"
                     ng-if="activeCountry" class="country-img" />
                <a href="/"><img src="static/images/top-stories.png" class="brand-img" /></a>
            </section>
            <section class="column col-6 col-sm-12 countries" ng-if="countries">
                <a ng-repeat="country in countries" href="/?country={{ country.code }}"
                   class="btn btn-link" ng-class="{ 'selected': country.code===activeCountry }">
                    {{ country.name }}
                </a>
            </section>
        </header>

        <div class="text-center text-large message loading" ng-if="!topStories && !apiError">
            Loading...
        </div>
        <div class="text-center message" ng-if="apiError">
            <div class="text-small">An error occured. Please try refreshing this page...</div>
        </div>

        <div class="news-wrap" ng-if="topStories.length" ng-repeat="story in topStories">
            <div class="story stick"
            style="background-image:url('{{story.urlToImage}}'), url('static/images/story-bg.png')">
        </div>
    <div class="story flow">
        <div class="columns container story-header">
            <div class="column col-12 story-image"
            style="background-image:url('{{story.urlToImage}}'), url('static/images/story-bg.png')">
        </div>
        <div class="column col-12 story-primary">
            <div class="story-title text-large">
                {{ story.title }}
            </div>
        </div>
    </div>
        <div class="story-desc text-medium">
            {{ mainSource | uppercase }}: {{ story.description | limitTo: 249 }}
            <span ng-if="story.description.length > 249">...</span>
            <div class="columns story-desc--actions">
                <a href="{{ story.url }}" target="_blank" class="col-3 col-sm-5 btn btn-primary">
                    <span ng-hide="activeCountry === 'de'">Read Entire Story</span>
                    <span ng-show="activeCountry === 'de'">Lesen Geschichte</span>
                </a>
                <div class="col-9 col-sm-7 story-share">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ story.url }}" target="_blank">
                        <img src="static/images/social-icons/facebook.png" />
                    </a>
                    <a href="https://twitter.com/home?status={{ story.url }} target="_blank"">
                        <img src="static/images/social-icons/twitter.png" />
                    </a>
                    <a href="mailto:?&body={{ story.url }} target="_blank"">
                        <img src="static/images/social-icons/mail.png" />
                    </a>
                    <a href="whatsapp://send?text={{ story.url }}" class="mobile-only">
                        <img src="static/images/social-icons/whatsapp.png" />
                    </a>
                </div>
            </div>
        </div>
        <div class="related">
            <div class="text-medium" ng-if="story.related.length">
                <ng-pluralize count="story.related.length"
                when="{'one': 'Related Story:', 'other': 'Related Stories:'}"
                ng-hide="activeCountry === 'de'"></ng-pluralize>
                <ng-pluralize count="story.related.length"
                when="{'one': 'Ähnliche Geschichte:', 'other': 'Ähnliche Geschichten:'}"
                ng-show="activeCountry === 'de'"></ng-pluralize>
            </div>
            <div class="columns">
                <div class="column col-2 story-related text-small" ng-repeat="related in story.related | limitTo : 4">
                    <div class="story-related-source">{{ related.source | uppercase }}</div>
                    <div class="story-related-link">
                        <a href="{{ related.url }}" target="_blank">
                            {{ related.title | limitTo: 75 }}<span ng-if="related.title.length > 75">...</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer text-center text-small" ng-if="topStories.length">
    <a href="http://kedar9.com" target="_blank">Made with <3 by Kedar.</a>
    </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<!-- AngularJS library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- Custom JS -->
<script src="static/js/scripts.min.js"></script>
<!-- GA code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22619210-11', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>


<!--
TODO:
Handle AggregateError in express
-->
